@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    font-family:'Noto sans', sans-serif;
}
body * {
    box-sizing: border-box;
}
p{
    padding: 0;
    color: rgb(15, 14, 14);
    
}
p:hover{
    color: rgb(116, 111, 111) ;
}
.main-login{
    width:100vw;
    height: 100vh;
    background: rgb(148, 136, 136);
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width:50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login > h1{
    font-size: 3vw;
    color: rgb(242, 242, 242);
    
}
.left-login-image{
    width:35vw;
}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
   
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px;
    background:rgb(98, 89, 89);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
.card-login > h1{
    color: rgb(248, 245, 245);
    font-weight: 800;
    margin: 0;

}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.textfield >input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: #e9e8eb;
    color: rgb(12, 3, 3);
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
.textfield >label{
    color: #f8f8f7de;
    margin-bottom: 5px 5px;
}
.textfield > input ::placeholder{
    color: #03030394;
}
.btn-login{

    width: 100%;
    padding: 16px 0px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform:uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: black;
    background: #f0ffff94;
    cursor: pointer;
    box-shadow:0px 10px 40px -12px
}
.btn-login:hover{
    color: black;
    background-color: rgb(60, 51, 51);
}
.btn-cad{
    width: 100%;
    padding: 10px;
    margin: 10px 2px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform:uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    background: #f0ffff94;
    cursor: pointer;
    box-shadow:0px 10px 40px -100px
}
.btn-cad:hover{
    color: rgb(141, 130, 130);
}

@media only screen and (max-width: 950px) {
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login{
        flex-direction: column;
    }
    .left-login{
        width:100%;
        height: auto;
    }
    .right-login{
        width:100%;
        height: auto;
    }
    .card-login{
        width: 90%;
    }

}

